.main-div {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.User-list-title {
    background-color: #C5DFFF;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

}

/* .user list fo card */

.user-list-card {
    display: flex;
    align-items: center;
    background-color: #ECECEC;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 550px;
}

.user-list-card:hover {
    background-color: #D4D4D4;
}


.user-name {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin: 0%;
    margin-left: 10px;
}

/* user details info  */

.user-details-main {
    width: 450px;
    margin-left: 80px;
}

.user-details-info {
    margin-left: auto;
    margin-right: auto;
    width: 306px;
}

.user-details-img-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-details-img {
    width: 150px;
}

.user-details-boi {
    width: 100%;
    margin: 0%;
    margin-bottom: 35px;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    min-height: 67px;
    padding-right: 5px;
    border-radius: 4px;
    background-color: #DBDBDB;
    border: 1px solid #6C6C6C;
}

.details-title {
    text-align: start;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.user-full-name {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DBDBDB;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #6C6C6C;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 10px;
    height: 17px;
}